{% extends 'SmartBlogBundle::layout.html.twig' %}

{% block smart_blog_content %}

    {% block smart_blog_content_articles %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Заголовок</th>
                    <th>Категория</th>
                    <th>Время создания</th>
                    <th>Автор</th>
                </tr>
            </thead>
            <tbody>
        {% for article in pagerfanta.currentPageResults %}
            <tr>
                <td>{{ article.id }}</td>
                <td>
                    <a href="{{ path('smart_blog_article_edit', {'id': article.id}) }}" title="Править">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.category }}</td>
                <td>{{ article.createdAt|date("d.m.Y h:i:s") }}</td>
                <td>{{ article.author }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endblock smart_blog_content_articles %}

    {% block smart_blog_articles_paginator %}
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', {
                    'routeName': 'smart_blog_admin_articles_list',
                    'css_container_class': 'pagination pagination-centered',
                })
            }}
        {% endif %}
    {% endblock smart_blog_articles_paginator %}

{% endblock smart_blog_content %}
